<div class="logo">
  <img src ="/assets/img/logo.png"  width="150.81px" height="68px">
  <p>NEWS DC19 PROGRAM 1</p>
</div>
<div class="add-group-title">
<h3>Add Group</h3>
</div>
<div class="home-content-container">
  <!-- <div> -->
    <form class="add-group-form" autocomplete="on" (ngSubmit)="onSubmit()" [formGroup]="addGroupForm">
      <div class="name">
        <label for="name">Group Name</label>
        <input type="text" id="name"
        required
        formControlName="groupName"
        >
      </div>
    <!-- </form> -->
    <form class="add-member-form" autocomplete="on" [formGroup]="addgroupMember">
      <div class = "member">
        <label for="member">Members </label>

        <table>

              <tr>
                <td class="label"><label for="memberName">Name</label></td>
                <td class="label"><label for="memberMail">Email </label></td>
                <!-- <td><button> Remove </button></td> -->
              </tr>
              <tr>
                <td class="input">
                  <input type="text" id="memberName"
                    required
                    formControlName="memberName">
                </td>
                <td class="input"><input type="text" id="memberMail"
                    required
                    formControlName="memberMail"></td>
                <td><button (click)="addHandler()"> Add </button></td>

              </tr>

              <tr *ngFor="let mem of members">
                <td>{{mem.name}}</td>
                <td>{{mem.email}}</td>
              </tr>

        </table>
      </div>
    </form>
      <button
          id="submit"
          type="submit"
          class="submit-btn"
        >Add Now
      </button>
    </form>
</div>


