*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --viewH : 100vh;
  --viewW : 100vw;
  --blue: #259CD7;
  --ratio : calc(var(--viewW)/1160);
  --ratioH : calc(var(--viewH)/1024);
}
.logo {
  width: calc(571*var(--ratio));
  height: calc(85*var(--ratio));
  left: calc(47*var(--ratio));
  margin: 50px 50px 0px;

}
.logo img{
    float: left;
    width: calc(150.81*var(--ratio));
    height: calc(68*var(--ratio));
}
.logo p{
    float: left;
    font-style: normal;
    font-weight: 700;
    font-size: calc(25*var(--ratio));
    letter-spacing: calc(0.2*var(--ratio));
    line-height: calc(68*var(--ratio));
    color: var(--blue);
    margin: 0 0 0px;
}
.add-group-title {
  position: relative;
}
h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #25282B;
  line-height: 42px;
  margin-top: calc(55*var(--ratio));
}
.home-content-container {
  position: relative;
}
.name {
  position: relative;
  top: calc(9*var(--ratio));
  left: calc(264*var(--ratio));
  width: calc(587*var(--ratio));
  height: calc(26*var(--ratio));
  margin-bottom: calc(23*var(--ratio));
}
.name label, .member label {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #52575C;
  align-items: center;
  float: left;
  margin-top: calc(6*var(--ratio));
}
.name input {
  position: relative;
  left: calc(87*var(--ratio));
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  width: calc(500*var(--ratio));
  height:calc(26*var(--ratio));
  text-align: left;
}
.member {
  position: relative;
  /* top: calc(58*var(--ratio)); */
  left: calc(264*var(--ratio));
  width: calc(572*var(--ratio));
  /* height: calc(26*var(--ratio)); */
}

.member label {
  position: absolute;
  top: calc(6*var(--ratio));
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #52575C;
  align-items: center;
  float: left;
}


.member table {
  position: relative;
  width: calc(480*var(--ratio));
  left: calc(87*var(--ratio));
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  text-align: left;

}
table thead{
  position: relative;
  height: calc(26*var(--ratio));
}

table tbody {
  position: relative;
}
.member input {
  width: calc(236*var(--ratio));

}
.material-icons {
  font-family: 'Material Icons' !important;
}
button#submit {
  position: relative;
  width: calc(100*var(--ratio));
  height: calc(50*var(--ratio));
  top: calc(23*var(--ratio));
  right: calc(290*var(--ratio));

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--blue);
  background-color: #FAF9F7;
  border: 2px solid var(--blue);
  border-radius: 10px;
  text-align: center;
  float: right;
}
