<div class="add-event-container">
  <div class="logo" routerLink="/">
    <img src ="/assets/img/logo.png">
    <p>NEWS DC19 PROGRAM 1</p>
  </div>
  <div class="add-event-form-block">
    <p class="add-event-title">Add Event</p>
  <div class="form-content-container">
    <form class="add-event-form" [formGroup]="addEventForm" autocomplete="off" (ngSubmit)="onSubmit()" ngNativeValidate>
      <!-- <div class="row-control">

      </div>
      <div class="row-control">

      </div>
      <div class="row-control">
          <div class="date">

          </div>
          <div class="time">

          </div>
      </div>
      <div class="row-control">
      </div>
      <div class="row-control">
      </div>
      <div class="row-control">

      </div>
      <div class="row-control">

      </div>
      <div class="row-control">

      </div>
      <div class="row-control">
        <button mat-raised-button color="primary" type="submit" >Add</button>
      </div> -->
      <table style="border:none">
        <tr class="row-control">
          <td class="td-left">
            <div>
              <label for="title" class="title">Title</label>
            </div>
          </td>
          <td class="td-right">
            <input class="set-height" name="title" type="text" formControlName="eventTitle" required>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label for="type" class="type">Event Type</label>
          </td>
          <td class="td-right">
            <select class="set-height" name="type" formControlName="eventType" [(ngModel)]="selectedTopic">
              <option *ngFor="let type of listTopic" [selected]="type.id == selectedTopic" [value]="type.id">{{type.name}}</option>
            </select>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label for="date" class="date">Date</label>
          </td>
          <td class="td-right">
            <div style="display: flex; justify-content: space-between;">
              <input type="date" class="set-height" name="date" formControlName="eventDate" required/>
            <label for="time" class="time" style="margin: auto 0;">Time</label>
            <input class="set-height" name="time" formControlName="eventTime" type="time" required/>
            </div>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label class="location" for="location">Location</label>
          </td>
          <td class="td-right">
            <input class="set-height" formControlName="eventLocation" name="location" type="text" required>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label class="image">Image</label>
          </td>
          <td class="td-right">
            <label for="choose-file" id="img-label">Choose file
            <input (change)="onFileSelected(imageInput)" #imageInput type="file" name="img" formControlName="eventImg" id="choose-file" accept="image/*" >
          </label>
            <!-- <input id="choose-file" formControlName="eventImg" name="image" type="file" onchange="console.log(event.target.files)"> -->
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label class="priority">Priority</label>
          </td>
          <td class="td-right">
            <!-- <mat-slide-toggle ></mat-slide-toggle> -->
            <div class="piority-toggle" [class.checked]="checked" (click)="checked = !checked">
              <span class="piority-thumb" [class.checked]="checked"></span>
            </div>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left">
            <label for="group" class="group">Relevant group</label>
          </td>
          <td class="td-right">
            <select class="set-height" formControlName="eventGroup" name="group" [(ngModel)]="selectedGroup">
              <option *ngFor="let group of ListGroups" [value]="group.id">{{group.name}}</option>
            </select>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left" style="vertical-align: top;">
            <div class="box"></div>
            <label class="content">Content</label>
          </td>
          <td class="td-right" style="vertical-align: top;">
            <div class="box"></div>
            <div class="ngxEditor_wrapper" *ngIf="editor" >
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
              <ngx-editor
                formControlName="eventContent"
                [editor]="editor"
                [ngModel]="html"
                [disabled]="false"
                [placeholder] = "''" >

              </ngx-editor>
            </div>
          </td>
        </tr>
        <tr class="row-control">
          <td class="td-left"></td>
          <td class="td-right" style="text-align: right;">
            <div style="height: 24px;"></div>
            <div class="submit-btn">
              <button type="submit">Add now</button>
            </div>
          </td>
        </tr>
      </table>

    </form>
    </div>
  </div>


</div>
