  <!-- Slider -->
  <div class="main-slider">
    <div class="slideshow-container">
      <div class="slide-show" [id] = 'idShow'>
        <div class="slider-icon nav-prev" (click)="toPrev()"><mat-icon>arrow_back_ios</mat-icon></div>
        <div class="slider-icon nav-next" (click)="toNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
        <img [src]="urlShow" alt="" class="event-img" (click)="showDialog(idShow)">
        <div class="span-nav-group">
          <span class="span-nav" [class.showed]="e.id == idShow" *ngFor="let e of listEvent" (click)="toEvent(e.id)" [id]="e.id" ></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="content-container">
    <div class="content-block-left">
      <!-- ListPost conponent -->
      <div class="list-topic">
        <div class="chips-list">
          <button class="chip" [class.topic-checked]="topicChecked == 0" (click)="topicChange(0)" [value]="0">All</button>
          <div class="ngForList" *ngFor="let t of ListTopic">
            <button class="chip"[value]="t.id" (click)="topicChange(t.id)" [class.topic-checked]="topicChecked == t.id" routerLink="">{{t.subject}}</button>
          </div>
        </div>
      </div>
      <app-list-post [topicChecked] = "topicChecked"></app-list-post>
      <!-- <app-event-list [topicChecked] = "topicChecked"></app-event-list> -->
      <!-- CLICK A POST -->
        <!-- Post component -->

    </div>
    <div class="content-block-right">
      <div class="favourite-block" *ngIf="logged">
        <p class="favourite-text">Favourite</p>
        <table class="favourite-table">
          <tr class="color-blue">
            <th>News</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Trading</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Digital</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Investing</th>
            <td>30</td>
          </tr>
          <tr class="color-blue">
            <th>READ LATER</th>
            <td><i class="bi bi-book" style="color: #259CD7"></i></td>
          </tr>
          <tr class="color-blue">
            <th>READ HISTORY</th>
            <td><i class="bi bi-bookmark"></i></td>
          </tr>
        </table>
      </div>
      <!-- NO LOGIN : CALENDAR -->
      <div class="calendar"  >
          <bs-datepicker-inline id ="customcalendar" [bsValue]="bsInlineValue" [bsConfig]="bsConfig"></bs-datepicker-inline>
      </div>
      <!-- LOGIN : calendar & favorite -->
    </div>
  </div>
