/* <Slider> */
.main-slider{
  width: 100%;
  height: calc(670*var(--ratio));
}
.slideshow-container{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(670*var(--ratio));
}
/* img */
.slideshow-container .slideshow{
  height: 100%;
  /* position: relative; */
}
.event-img{
  width: 100%;
  height: calc(670*var(--ratio));
}
/* span navigate */
.span-nav-group{
  position: absolute;
  bottom: calc(60*var(--ratio));
  display: flex;
  position:absolute;
  left:50%;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%)
}
.span-nav{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: none;
  border: var(--blue) solid 2px;
  margin: 0 calc(18*var(--ratio));
}
.span-nav:hover, .slider-icon{
  cursor: pointer;
}
.showed{
  background-color: white;
}

/* icon navigate */
.slider-icon:hover{
  background-color: #F2FBFF;
  opacity: 0.5;
}
.slider-icon.nav-prev{
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(30*var(--ratio));
  width: 50px;
  text-align: center
}
.slider-icon.nav-next{
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(30*var(--ratio));
  width: 50px;
  text-align: center
}

.slider-icon mat-icon{
  width: auto;
  height: auto;
  color: var(--blue);
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:50%;
  transform:translate(-50%,0%);
}


/* <main-content> */
.content-container{
  /* height: 210px; */
  position: relative;
  width: 100%;
  height: calc(1275*var(--ratio));
  background-color: var(--grey);
  /* margin-bottom: calc(15*var(--ratio)); */
}
.content-block-left{
  position: relative;
  float: left;
  top : calc(15*var(--ratio));
  left: 0;
  bottom: 0;
  width: calc(980*var(--ratio));
  height: calc(1275*var(--ratio));
  margin-right: calc(20*var(--ratio));
}
/* Topic List */
.list-topic{
  position: relative;
  background-color: white;
  width: calc(980*var(--ratio));
  height: calc(75*var(--ratio));
  overflow-x : auto;
  overflow-y: hidden;
}
.chips-list{
  position: absolute;
  display: flex;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-height: calc(60*var(--ratio));
}
.list-topic::-webkit-scrollbar{
  height: 5px;
}
.list-topic::-webkit-scrollbar-thumb {
  background: rgb(207, 202, 202);
  border-radius: 25px;
}

.chips-list .chip{
  position: relative;
  display: inline-block;
  min-width: calc(100*var(--ratio));
  min-height: calc(60*var(--ratio));
  margin-left: calc(30*var(--ratio));
  line-height: calc(60*var(--ratio));
  text-align: center;
  border: var(--blue) solid calc(3*var(--ratio));
  border-radius: calc(36*var(--ratio));
  background-color: #FAF9F7;
  color: var(--blue);
  font-size: calc(14*var(--ratio));
  font-weight: 600;
}
.chips-list .chip:hover{
  cursor: pointer;
}
.chips-list .topic-checked{
  background-color: #B2E5FE;
}

/* Paginator */
.block-paginator{
  height: calc(80*var(--ratio));
  bottom: 10px;
  left: 0;
  right: 0;
  position: absolute;
}
.paginator{
  position: relative;
  width: calc(844*var(--ratio));
  height: calc(60.06*var(--ratio));
  margin: 0 auto;
  margin-bottom: calc(11.05*var(--ratio));
}
.paginator mat-icon{
  font-family: 'Material Icons' !important;
  color: var(--blue);
  font-size: 25px;
  font-weight: 300;
}
.paginator .pag-prev{
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(25*var(--ratio));
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}
.paginator .pag-next{
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(25*var(--ratio));
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}
.paginator .num-page-block{
  position: relative;
  left: 0;
  right: 0;
  min-width: calc(338*var(--ratio));
  max-width: calc(600*var(--ratio));
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.num-page-block .num-page{
  width: calc(74*var(--ratio));
  height: calc(60.06*var(--ratio));
  border: var(--blue) calc(3*var(--ratio)) solid;
  border-radius: calc(24*var(--ratio));
  font-size: calc(32*var(--ratio));
  color: var(--blue);
  font-family: 'Montserrat';
  background-color: white;
  text-decoration: underline var(--blue);
  font-weight: 600;
}
.num-page-block .num-page.checked{
  background-color: rgba(121, 162, 238, 0.2);
}
.num-page-block .num-page:hover{
  cursor: pointer;
  background-color: var(--grey);
}
.paginator .pag-next:hover, .paginator .pag-prev{
  cursor: pointer;
}



.content-block-right{
  position: absolute;
  float: left;
  top : calc(var(--ratio)*14);
  right: 0;
  bottom : calc(15*var(--ratio));
  max-width: calc(440*var(--ratio));
  height: calc(810*var(--ratio));
}
.content-block-right .favourite-block{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: calc(var(--ratio)*15);
  text-align: center;
  max-width: calc(var(--ratio)*440);
  height: calc(var(--ratio)*405);
  background-color: var(--white);
}
.favourite-block p{
  position: relative;
  top: calc(var(--ratio)*26);
  font-size: calc(var(--ratio) * 32);
  line-height: calc(var(--ratio) * 24);
  color: var(--blue);
  z-index: 1;
}
.favourite-block table{
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: 700;
  font-size: calc(var(--ratio) * 16);
  line-height: calc(var(--ratio) * 24);
  border-spacing: calc(var(--ratio)*18);
  width: calc(var(--ratio)*262);
}
.favourite-block table th{
  text-align: start;
}
.favourite-block table td{
  text-align: end;
}
.favourite-table .color-blue{
  color: var(--blue);
}
.favourite-table i{
  font-size: 20px;
}
.favourite-table i:hover{
  cursor: pointer;
}

/* calendar */
.calendar{
  margin: 0 auto;
  background-color: white;
  max-width: calc(440*var(--ratio));
  /* min-width: calc(420*var(--ratio)); */
  height: calc(420*var(--ratio));
}

/* </main-content> */
