  <!-- Slider -->
  <div class="main-slider">
    <div class="slideshow-container">
      <div class="slide-show" [id] = 'idShow'>
        <div class="slider-icon nav-prev" (click)="toPrev()"><mat-icon>arrow_back_ios</mat-icon></div>
        <div class="slider-icon nav-next" (click)="toNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
        <img [src]="urlShow" alt="" [title]="title" class="event-img" (click)="showDialog(idShow)">
        <div class="span-nav-group">
          <span class="span-nav" [class.showed]="e.id == idShow" *ngFor="let e of postsSlider" (click)="toEvent(e.id)" [id]="e.id" ></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="content-container">
    <div class="content-block-left">
      <!-- ListPost conponent -->
      <div class="list-topic">
        <div class="chips-list" id="list-topic">
          <button class="chip" [class.topic-checked]="idTopic == 0" (click)="topicChange(0)" [value]="0">All</button>
          <!-- <div class="ngForList" *ngFor="let t of ListTopic"> -->
          <button class="chip" *ngFor="let t of ListTopic" [value]="t.id" (click)="topicChange(t.id)" [class.topic-checked]="idTopic == t.id">{{t.name}}</button>
          <!-- </div> -->
        </div>
      </div>
      <app-list-post [keyWord]="keyWord" [topicChecked] = "idTopic" [pageIndex]="pageIndex" (changePage)="changePage($event)" (topicChange)="topicChange($event)"></app-list-post>
      <!-- <app-event-list [topicChecked] = "topicChecked"></app-event-list> -->
      <div class="block-paginator">
        <div class="paginator">
          <div class="paginator-icon pag-prev" (click)="pagePrev()"><mat-icon>arrow_back_ios</mat-icon></div>
          <div class="paginator-icon pag-next" (click)="pageNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
            <!-- <div class="num-page-block">
              <button class="num-page" [class.checked]="" [value]="">1</button>
              <button class="num-page" [class.checked]="" [value]="">2</button>
              <button class="num-page" [class.checked]="" [value]="">3</button>
              <button class="num-page">...</button>
            </div> -->

            <!-- page 1 -->
            <div class="num-page-block" *ngIf="pageIndex == 0" style="max-width: 340px;">
              <button class="num-page checked" (click)="changePage(pageIndex)" >1</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">2</button>
              <button class="num-page" (click)="changePage(pageIndex+2)">3</button>
              <button class="num-page">...</button>
            </div>
            <!-- page 2 -->
            <div class="num-page-block" *ngIf="pageIndex == 1" style="max-width: 410px;">
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
              <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
              <button class="num-page">...</button>
            </div>
            <!-- page 3 -->
            <div class="num-page-block" *ngIf="pageIndex == 2" style="max-width: 485px;">
              <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
              <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
              <button class="num-page">...</button>
            </div>
            <!-- page > 3 -->
            <div class="num-page-block" *ngIf="pageIndex >= 3 && pageIndex < 7">
              <button class="num-page">...</button>
              <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
              <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
              <button class="num-page">...</button>
            </div>
            <!-- limit 10 pages -->
            <div class="num-page-block" *ngIf="pageIndex == 7" style="max-width: 485px;">
              <button class="num-page">...</button>
              <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
              <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
            </div>
            <div class="num-page-block" *ngIf="pageIndex == 8" style="max-width: 410px;">
              <button class="num-page">...</button>
              <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
            </div>
            <div class="num-page-block" *ngIf="pageIndex == 9" style="max-width: 340px;">
              <button class="num-page">...</button>
              <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
              <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
              <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            </div>
        </div>
      </div>
    </div>
    <div class="content-block-right">
      <div class="favourite-block" *ngIf="logged">
        <p class="favourite-text">Favourite</p>
        <table class="favourite-table">
          <tr class="color-blue">
            <th>News</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Trading</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Digital</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Investing</th>
            <td>30</td>
          </tr>
          <tr class="color-blue">
            <th>READ LATER</th>
            <td><i class="bi bi-book" style="color: #259CD7"></i></td>
          </tr>
          <tr class="color-blue">
            <th>READ HISTORY</th>
            <td><i class="bi bi-bookmark"></i></td>
          </tr>
        </table>
      </div>
      <!-- NO LOGIN : CALENDAR -->
      <div class="calendar"  >
          <bs-datepicker-inline id ="customcalendar" [bsValue]="bsInlineValue" [bsConfig]="bsConfig"></bs-datepicker-inline>
      </div>
      <!-- LOGIN : calendar & favorite -->
    </div>
  </div>
