<div class="list-post-container">
  <div class="list-post">
    <div class="post-container" *ngFor="let p of posts">
      <div class="post" [class.piority]="p.priority" [class.upcomming]="isUpcomming(p.id)" [class.passed]="isPassed(p.id)">
        <!-- <div class="post-router" routerLink="post/{{p.id}}"> -->
          <div class="post-router" (click)="showDialog(p.id)">
          <img src="{{p.image}}">
          <p class="list-post-title">{{p.title}}</p>
          <pre class="list-post-description">{{p.time | date:'MMM d, y            h:mm a'}}</pre>
        </div>
        <div class="post-icon">
          <!-- <mat-icon>star_border</mat-icon> -->
          <!-- <span (click)="starClick(p.id)"><i class="bi bi-star" *ngIf="!isFavourite"></i><i class="bi bi-star-fill" *ngIf="isFavourite"></i></span> -->
          <i class="bi bi-star" ></i>
          <!-- <mat-icon>share</mat-icon> -->
          <i class="bi bi-share"></i>
          <!-- <mat-icon>more_vert</mat-icon> -->
          <i class="bi bi-three-dots-vertical"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="block-paginator">
    <div class="paginator">
      <div class="paginator-icon pag-prev" ><mat-icon>arrow_back_ios</mat-icon></div>
      <div class="paginator-icon pag-next" ><mat-icon>arrow_forward_ios</mat-icon></div>
      <div class="num-page-block">
        <button class="num-page">1</button>
        <button class="num-page">2</button>
        <button class="num-page">3</button>
        <button class="num-page">...</button>
      </div>
    </div>
  </div> -->
</div>

