<div class="list-post-container">
  <h4 class="search-text" *ngIf="keyWord != ''">Search for : <i>{{keyWordOrigin}}</i></h4>
  <div class="list-post">
    <div class="post-container" *ngFor="let p of posts">
      <div class="post" [class.onweek]="isOnWeek(p.id)" [class.upcomming]="isUpcomming(p.id)">
        <!-- <div class="post-router" routerLink="post/{{p.id}}"> -->
        <div class="post-router" (click)="showDialog(p.id)">
          <img src="{{p.image}}">
          <div class="content-box">
            <p class="list-post-title">{{p.title}}</p>
            <pre class="list-post-description">{{p.time | date:'MMM d, y            h:mm a'}}</pre>
          </div>
        </div>
        <div class="post-icon">
          <!-- <mat-icon>star_border</mat-icon> -->
          <!-- <i class="bi bi-star" title="Add bookmark" id="bookmark-{{p.id}}"></i> -->
          <div class="svg-icon" title="Add bookmark" [class.icon-hide]="hideIcon(p.id)" id="bookmark-{{p.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star" style="width:25px; height:25px" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
          </div>

          <div class="svg-icon icon-hide" id="bookmark-checked-{{p.id}}" [class.icon-hide]="!hideIcon(p.id)" title="Remove bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#f5f06c" class="bi bi-star-fill" style="width:25px; height:25px" viewBox="0 0 16 16" >
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
          </div>
          <!-- <span (click)="starClick(p.id)"><i class="bi bi-star" *ngIf="!isFavourite"></i><i class="bi bi-star-fill" *ngIf="isFavourite"></i></span> -->
          <!-- <mat-icon>share</mat-icon> -->
          <i class="bi bi-share"></i>
          <!-- <mat-icon>more_vert</mat-icon> -->
          <i class="bi bi-three-dots-vertical"></i>
        </div>
        <!-- <div class="edit-icon" *ngIf="isAdmin">
          <mat-icon>edit</mat-icon>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <div class="block-paginator">
    <div class="paginator">
      <div class="paginator-icon pag-prev" ><mat-icon>arrow_back_ios</mat-icon></div>
      <div class="paginator-icon pag-next" ><mat-icon>arrow_forward_ios</mat-icon></div>
      <div class="num-page-block">
        <button class="num-page">1</button>
        <button class="num-page">2</button>
        <button class="num-page">3</button>
        <button class="num-page">...</button>
      </div>
    </div>
  </div> -->
</div>

