/* .mat-dialog-container{
  padding-right: 0 !important;
  background-color: #F5F5F5;
} */

*{
  --viewH : 100vh;
  --viewW : 100vw;
  --blue: #259CD7;
  --grey : #F5F5F5;
  --white : #FFFF;
  --ratio : calc(var(--viewW)/1440);
}
.post-container{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: visible;
  top: 0;
}
mat-dialog-content{
  /* min-height: calc(var(--ratio)*800); */
  min-height: calc(var(--ratio)*900);
  width: 100%;
  margin: 0 -12px;
  background-color: white;
  border-radius: 5px;
  /* padding-right: 0; */
  /* width: 100%; */
  /* height: calc((var(--ratio)*550)); */
  /* height: 100%; */
  /* overflow: hidden */
  /* margin: 0 10px; */
  /* position: relative;
  bottom: 0;
  left: 0;
  right: 0; */
}

.post-container .close{
  position: absolute;
  top: -22px;
  right: 2px;
  min-width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 100%;
}

/* .content-left{
  width: 45%;
  max-height: calc((var(--ratio)*500));
  float: left;
   position: fixed;
} */
img{
  /* width: 95%;
  height: 55%;
  border-radius: 5px; */
  /* width: 100%; */
  height: 30%;
  width: 100%;
  border-radius: 5px;
}
table{
  width: 100%;
  height: calc(var(--ratio)*70);
  text-align: left;
  margin: 10px 0;
}
table td{
  /* padding-left: 10px; */
}
table tr{
  margin-top: 5px;
}
/* .post-icon{
  display: flex;
  max-width: 118px;
}
.post-icon mat-icon{
  font-family: 'Material Icons' !important;
  color: #52575C;
  width: 24px;
  height: 24px;
  font-size: 25px;
  margin-right: 10px;
}
.post-icon mat-icon:hover{
  cursor: pointer;
} */
/*
.post-title{
  height: calc(var(--ratio)*43.1);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.post-content{
  /* height: calc((var(--ratio)*500)); */
  width: auto;
  overflow-y: auto;
  line-height: 24px;
  margin-right : -24px;
  max-height: calc(var(--ratio)*310);
}

/* .content-right{
  background-color: white;
  width: 55%;
  max-height: calc((var(--ratio)*500));
  float: left;
  overflow: auto;
  line-height: 24px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
   float: right;
} */



/* img{
  width: 80%;
  height: 60%;
} */

