/* .mat-dialog-container{
  padding-right: 0 !important;
  background-color: #F5F5F5;
} */

*{
  --viewH : 100vh;
  --viewW : 100vw;
  --blue: #259CD7;
  --grey : #F5F5F5;
  --white : #FFFF;
  --ratio : calc(var(--viewW)/1440);
}
.post-container{
  min-width: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: visible;
  top: 0;

  background-color: white;
}
mat-dialog-content{
  /* min-height: calc(var(--ratio)*800); */
  padding-bottom: 10px;
  max-height: calc(var(--ratio)*950);
  min-height: calc(var(--ratio)*800);
  width: 100%;
  margin: 0 -12px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  /* padding-right: 0; */
  /* width: 100%; */
  /* height: calc((var(--ratio)*550)); */
  /* height: 100%; */
  /* overflow: hidden */
  /* margin: 0 10px; */
  /* position: relative;
  bottom: 0;
  left: 0;
  right: 0; */
}

.post-container .close{
  position: absolute;
  top: -22px;
  right: 2px;
  min-width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 100%;
}
.post-container .edit-btn{
  position: absolute;
  bottom: 0;
  right: -50px;
  background-color: white;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}
.edit-btn mat-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.edit-btn:hover{
  cursor: pointer;
}

.post-container .delete-btn{
  position: absolute;
  bottom: 50px;
  right: -45px;
  background-color: red;
  color: white;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  opacity: 0.7;
}
.delete-btn mat-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.delete-btn:hover{
  cursor: pointer;
}

/* .content-left{
  width: 45%;
  max-height: calc((var(--ratio)*500));
  float: left;
   position: fixed;
} */
img{
  /* width: 95%;
  height: 55%;
  border-radius: 5px; */
  /* width: 100%; */
  margin: 5px 0;
  height: calc(var(--ratio)*400);
  width: 100%;
  border-radius: 5px;
}
table{
  height: calc(var(--ratio)*70);
  text-align: left;
  margin: 10px 0;
}
/* table td{
   padding-left: 10px;
} */
table tr{
  display: block;
  min-width: 500px;
  margin-top: 5px;
}

tr th{
  width: 100px;
}
tr td{
  min-width: 300px;
}

pre.post-content{
  /* height: calc((var(--ratio)*500)); */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 16px;
  letter-spacing: normal;
  width: auto;
  overflow-y: auto;
  line-height: 24px;
  margin-right : -24px;
  max-height: calc(var(--ratio)*310);
}

/* .content-right{
  background-color: white;
  width: 55%;
  max-height: calc((var(--ratio)*500));
  float: left;
  overflow: auto;
  line-height: 24px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
   float: right;
} */



/* img{
  width: 80%;
  height: 60%;
} */

