<div class="post-container">
  <div class="edit-btn" mat-dialog-close *ngIf="isAdmin" (click)="editEvent(post.id)">
    <mat-icon>edit</mat-icon>
  </div>
  <div class="delete-btn" *ngIf="isPastEvents" (click)="deleteEvent(post.id)">
    <mat-icon>delete</mat-icon>
  </div>
  <button mat-button mat-dialog-close class="close">X</button>
  <mat-dialog-content class="content-post">
    <img src="{{post.image}}" alt="">
    <h2 class="post-title">{{post.title}}</h2>
    <table class="post-description">
      <tr>
        <th>Time : </th>
        <td>{{post.time | date:' h:mm a,  dd/MM/yyyy '}}</td>
      </tr>
      <tr>
        <th>Location : </th>
        <td>{{post.location}}</td>
      </tr>
      <tr>
        <th>Group : </th>
        <!-- <td>{{post.group.name}}</td> -->
        <td>{{post.groupNames.join(', ')}}</td>
      </tr>
    </table>
    <pre class="post-content" [innerHTML]="content"></pre>
  </mat-dialog-content>
</div>

