<div class="content-container">
  <div class="block-left">
    <div class="text-block">
      <p>Events List</p>
      <form class="searchbar-main-header" [formGroup]="searchForm" autocomplete="off" (ngSubmit)="ClickBtn()">
        <mat-form-field class="searchbar-form-field" appearance="fill">
          <input matInput type="text" placeholder="What your post you want to Search" formControlName="keyWord">
          <button matSuffix mat-icon-button aria-label="Search" fontIcon="search" type="submit">
            <mat-icon *ngIf="!showSearch">search</mat-icon>
            <mat-icon *ngIf="showSearch">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <button class="add-post-btn" routerLink="add">Add Event</button>
    </div>

    <div class="list-post-container">
      <div class="topic-block">
        <div class="list-topic">
          <div class="chips-list" id="list-topic">
            <button class="chip" [class.topic-checked]="idTopic == 0" (click)="topicChange(0)" [value]="0">All</button>
            <!-- <div class="ngForList" *ngFor="let t of ListTopic"> -->
            <button class="chip" *ngFor="let t of ListTopic" [value]="t.id" (click)="topicChange(t.id)" [class.topic-checked]="idTopic == t.id">{{t.name}}</button>
            <!-- </div> -->
          </div>
        </div>

        <div class="text-box">
          <button class="chip past-events" (click)="openPastEventsDialog()">Past Events</button>
          <p class="priority">Priority</p>
          <p class="status">Visible</p>
        </div>
      </div>
      <div class="box-card">
        <h4 class="no-results-found" [class.show]="!haveResults()">No results found</h4>
        <div class="card-block" *ngFor="let p of listPost">
          <div class="card">
            <div class="card-img">
              <img src="{{p.image}}" alt="p.title">
            </div>
            <div class="card-content">
              <p class="title">{{p.title}}</p>
              <p class="content" [innerHTML]="transformYourHtml(p.content)"></p>
            </div>
            <div class="card-btn">
              <button class="detail-btn" (click)="showDialog(p.id)">Detail</button>
              <button class="edit-btn" routerLink="edit/{{p.id}}">Edit</button>
              <button class="delete-btn" (click)="deletePost(p.id)">Delete</button>
            </div>
          </div>
          <div class="toggle-box">
            <div class="piority-toggle toggle" [class.checked]="p.priority == 1" (click)="piorityToggle(p.id)" id="toggle{{p.id}}">
              <span class="piority-thumb thumb" [class.checked]="p.priority == 1" id="thumb{{p.id}}"></span>
            </div>
            <div class="status-toggle toggle" [class.checked]="p.showInSlider" (click)="statusToggle(p.id)" id="statusToggle{{p.id}}">
              <span class="status-thumb thumb" [class.checked]="p.showInSlider" id="statusThumb{{p.id}}"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="block-paginator">
        <div class="paginator">
          <div class="paginator-icon pag-prev" (click)="pagePrev()"><mat-icon>arrow_back_ios</mat-icon></div>
          <div class="paginator-icon pag-next" (click)="pageNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
          <!-- <div class="num-page-block">
                <button class="num-page" [class.checked]="" [value]="">1</button>
                <button class="num-page" [class.checked]="" [value]="">2</button>
                <button class="num-page" [class.checked]="" [value]="">3</button>
                <button class="num-page">...</button>
              </div> -->

          <!-- page 1 -->
          <div class="num-page-block" *ngIf="pageIndex == 0" style="max-width: 340px;">
            <button class="num-page checked" (click)="changePage(pageIndex)">1</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">2</button>
            <button class="num-page" (click)="changePage(pageIndex+2)">3</button>
            <button class="num-page">...</button>
          </div>
          <!-- page 2 -->
          <div class="num-page-block" *ngIf="pageIndex == 1" style="max-width: 410px;">
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
            <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
            <button class="num-page">...</button>
          </div>
          <!-- page 3 -->
          <div class="num-page-block" *ngIf="pageIndex == 2" style="max-width: 485px;">
            <button class="num-page" (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
            <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
            <button class="num-page">...</button>
          </div>
          <!-- page > 3 -->
          <div class="num-page-block" *ngIf="pageIndex >= 3 && pageIndex < 7">
            <button class="num-page">...</button>
            <button class="num-page" (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
            <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
            <button class="num-page">...</button>
          </div>
          <!-- limit 10 pages -->
          <div class="num-page-block" *ngIf="pageIndex == 7" style="max-width: 485px;">
            <button class="num-page">...</button>
            <button class="num-page" (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
            <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
          </div>
          <div class="num-page-block" *ngIf="pageIndex == 8" style="max-width: 410px;">
            <button class="num-page">...</button>
            <button class="num-page" (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
            <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
          </div>
          <div class="num-page-block" *ngIf="pageIndex == 9" style="max-width: 340px;">
            <button class="num-page">...</button>
            <button class="num-page" (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
            <button class="num-page" (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
            <button class="num-page checked" (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="block-right">
    <app-block-right></app-block-right>
  </div>
</div>
