<div class="posts-manage-container">
  <header class="posts-manage-header">
    <!-- Logo -->
    <div class="logo-block" routerLink="/">
        <img src="/assets/img/logo.png"/>
        <p class="tma-text">NEWS DC19 PROGRAM 1</p>
    </div>

    <!-- Search bar -->

    <!-- Login/Avatar (maybe use guard and custom service)-->
    <div class="avt logged">
      <button class="header-avt" (click)="menuShow = !menuShow">
        <img src="/assets/img/avt.png" alt="">
      </button>
      <div class="triangle-up" [class.show]="menuShow"></div>
      <div class="menu" [class.show]="menuShow">
        <div class="menu-admin" [class.show]="">
          <ul>
            <li *ngIf="isPostsPage()">
              <a href="" class="menu-item" routerLink="#">Group</a>
            </li>
            <li *ngIf="!isPostsPage()">
              <a href="" class="menu-item" routerLink="/posts">Posts</a>
            </li>
          </ul>
        </div>
        <div class="line"></div>
        <div class="menu-logout">
          <a href="" class="menu-item" (click)="Logout()">Log out</a>
        </div>
      </div>
    </div>
  </header>
  <div class="content-container">
    <div class="block-left">
      <div class="text-block">
        <p>List Event</p>
        <button class="add-post-btn" routerLink="/posts/add">Add post</button>
      </div>
      <div class="list-post-container">
        <div class="search-block">
          <form class="searchbar-main-header" [formGroup]="searchForm" autocomplete="off" (ngSubmit)="searchClick()">
            <mat-form-field class="searchbar-form-field" appearance="fill" >
              <input matInput type="text" placeholder="What your post you want to Search" formControlName="keyWord">
              <button matSuffix mat-icon-button aria-label="Search" fontIcon="search" type="submit">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <p>Piority</p>
        </div>
        <div class="box-card">
          <div class="card-block" *ngFor="let p of listPost">
            <div class="card">
              <div class="card-img">
                <img src="{{p.image}}" alt="p.title">
              </div>
              <div class="card-content">
                <p class="title">{{p.title}}</p>
                <p class="content" [innerHTML]="p.content"></p>
              </div>
              <div class="card-btn">
                  <button class="detail-btn" (click)="showDialog(p.id)">Detail</button>
                  <button class="edit-btn">Edit</button>
                  <button class="delete-btn">Delete</button>
              </div>
            </div>
            <div class="piority-toggle" [class.checked]="p.priority == 1">
              <span class="piority-thumb" [class.checked]=""></span>
            </div>
          </div>
        </div>

        <div class="block-paginator">
          <div class="paginator">
            <div class="paginator-icon pag-prev" (click)="pagePrev()"><mat-icon>arrow_back_ios</mat-icon></div>
            <div class="paginator-icon pag-next" (click)="pageNext()"><mat-icon>arrow_forward_ios</mat-icon></div>
              <!-- <div class="num-page-block">
                <button class="num-page" [class.checked]="" [value]="">1</button>
                <button class="num-page" [class.checked]="" [value]="">2</button>
                <button class="num-page" [class.checked]="" [value]="">3</button>
                <button class="num-page">...</button>
              </div> -->

              <!-- page 1 -->
              <div class="num-page-block" *ngIf="pageIndex == 0" style="max-width: 340px;">
                <button class="num-page checked" (click)="changePage(pageIndex)" >1</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">2</button>
                <button class="num-page" (click)="changePage(pageIndex+2)">3</button>
                <button class="num-page">...</button>
              </div>
              <!-- page 2 -->
              <div class="num-page-block" *ngIf="pageIndex == 1" style="max-width: 410px;">
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
                <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
                <button class="num-page">...</button>
              </div>
              <!-- page 3 -->
              <div class="num-page-block" *ngIf="pageIndex == 2" style="max-width: 485px;">
                <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
                <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
                <button class="num-page">...</button>
              </div>
              <!-- page > 3 -->
              <div class="num-page-block" *ngIf="pageIndex >= 3 && pageIndex < 7">
                <button class="num-page">...</button>
                <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
                <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
                <button class="num-page">...</button>
              </div>
              <!-- limit 10 pages -->
              <div class="num-page-block" *ngIf="pageIndex == 7" style="max-width: 485px;">
                <button class="num-page">...</button>
                <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
                <button class="num-page" (click)="changePage(pageIndex+2)">{{pageIndex+3}}</button>
              </div>
              <div class="num-page-block" *ngIf="pageIndex == 8" style="max-width: 410px;">
                <button class="num-page">...</button>
                <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
                <button class="num-page" (click)="changePage(pageIndex+1)">{{pageIndex+2}}</button>
              </div>
              <div class="num-page-block" *ngIf="pageIndex == 9" style="max-width: 340px;">
                <button class="num-page">...</button>
                <button class="num-page"  (click)="changePage(pageIndex-2)">{{pageIndex-1}}</button>
                <button class="num-page"  (click)="changePage(pageIndex-1)">{{pageIndex}}</button>
                <button class="num-page checked"  (click)="changePage(pageIndex)">{{pageIndex+1}}</button>
              </div>
          </div>
        </div>
      </div>


    </div>
    <div class="block-right">
      <div class="favourite-block">
        <p class="favourite-text">MY LABELS</p>
        <table class="favourite-table">
          <tr class="color-blue">
            <th>News</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Trading</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Digital</th>
            <td>30</td>
          </tr>
          <tr>
            <th>Investing</th>
            <td>30</td>
          </tr>
          <tr class="color-blue">
            <th>READ LATER</th>
            <td><i class="bi bi-book" style="color: #259CD7"></i></td>
          </tr>
          <tr class="color-blue">
            <th>READ HISTORY</th>
            <td><i class="bi bi-bookmark"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <footer class="main-footer">
    <p class="footer-text">Privacy Policy / Personal Information / Term of Service</p>
  </footer>
</div>
