<!-- <div class="favourite-block">
    <p class="favourite-text">MY LABELS</p>
    <table class="favourite-table">
        <tr class="color-blue">
            <th>News</th>
            <td>30</td>
        </tr>
        <tr>
            <th>Trading</th>
            <td>30</td>
        </tr>
        <tr>
            <th>Digital</th>
            <td>30</td>
        </tr>
        <tr>
            <th>Investing</th>
            <td>30</td>
        </tr>
        <tr class="color-blue">
            <th>READ LATER</th>
            <td><i class="bi bi-book" style="color: #259CD7"></i></td>
        </tr>
        <tr class="color-blue">
            <th>READ HISTORY</th>
            <td><i class="bi bi-bookmark"></i></td>
        </tr>
    </table>
</div> -->
